/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  Modular Scale: https://www.modularscale.com/?18&px&1.333
  */

/* Content Style */
html {
  font-family: Helvetica, sans-serif;
  font-size: 1.125em; /* 18 / 16 = 1.25 */
  line-height: 1.5em; /* 23.994 / 16 = 1.5 */
  background: #12263A;
  color: #EAEFD3;
}

h1 {
  font-size: 2.665em; /* 42.635 / 16 = 2.665 */
  line-height: 1.5em; /* 31.984 / 16 = 1.999 */
  font-weight: bold;
}

h2 {
  font-size: 1.999em; /* 31.984 / 16 = 1.999 */
  line-height: 1.999em; /* 31.984 / 16 = 1.999 */
  font-weight: bold;
  background-color: #1282A2;
  border-radius: 0.633em; /* 10.13 / 16 = 0.633 */
  padding-left: 0.633em; /* 10.13 / 16 = 0.633 */
}

h3 {
  font-size: 1.5em; /* 23.994 / 16 = 1.5 */
  padding-bottom: 0.844em; /* 13.503 / 16 = 0.844 */
  padding-top: 0.844em; /* 13.503 / 16 = 0.844 */
  font-weight: bold;
}

footer {
  padding-bottom: 0.844em; /* 13.503 / 16 = 0.844 */
  padding-top: 0.844em; /* 13.503 / 16 = 0.844 */
  background-color: #1282A2;
  font-size: 0.633em; /* 10.13 / 16 = 0.633 */
  text-align: center;
}

li,
ol,
ul {
  padding: 0.267em; /* 4.277 / 16 = 0.267 */
}

/* Image Styles */
img {
  max-width: 100%;
  height: auto;
  text-align: center;
  display: block;
}

figcaption {
  font-size: 0.633em; /* 10.13 / 16 = 0.633 */
  text-align: center;
}

/* Layout Rules */
main {
  padding-left: 10%;
  padding-right: 10%;
}

.resume-education-items li,
.resume-skill-items li,
.resume-description li,
li.cbp-items-description {
  list-style-type: circle;
  margin-left: 1.5em; /* 23.994 / 16 = 1.5 */
}

li.cbp-items {
  background-color: #1282A2;
  border-radius: 0.633em; /* 10.13 / 16 = 0.633 */
  margin-bottom: 0.844em; /* 13.503 / 16 = 0.844 */
  margin-top: 0.844em; /* 13.503 / 16 = 0.844 */
  padding-left: 1.5em; /* 23.994 / 16 = 1.5 */
  padding-right: 1.5em; /* 23.994 / 16 = 1.5 */
}

.cbp-image img {
  border-radius: 0.633em; /* 10.13 / 16 = 0.633 */
}

a {
  color: #EAEFD3;
  text-decoration: underline;
  text-decoration-style: solid;
}

.header {
  text-align: center;
  text-decoration: underline;
  padding: 0.633em; /* 10.13 / 16 = 0.633 */
}

#headshot img {
  border-radius: 0.633em; /* 10.13 / 16 = 0.633 */
}

/* Navigation Style */
#site-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #1282A2;
}

#site-nav a:hover,
#site-nav a:focus,
#site-nav a:active {
  background-color: #1282A2;
  border-radius: 0.633em; /* 10.13 / 16 = 0.633 */
}

nav a {
  padding: 0.633em; /* 10.13 / 16 = 0.633 */
}

/* Media Queries */
@media screen and (min-width: 34.375em) {
  /* Content Style */
  figcaption {
    padding-top: 0.633em; /* 10.13 / 16 = 0.633 */
    padding-bottom: 0.633em; /* 10.13 / 16 = 0.633 */
  }

  /* Home Page */
  .about-me-section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.633em; /* 10.13 / 16 = 0.633 */
    gap: 0.633em; /* 10.13 / 16 = 0.633 */
  }

  .about-me-section h2 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #intro-paragraph {
    grid-column: 2;
    grid-row: 2;
  }

  #headshot {
    grid-column: 1;
    grid-row: 2;
  }

  /* CBP Page */
  .cbp-parent ol {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.633em; /* 10.13 / 16 = 0.633 */
    gap: 0.633em; /* 10.13 / 16 = 0.633 */
  }

}

@media screen and (min-width: 67.5em) {
  /* Content Style */
  main {
    padding-left: 20%;
    padding-right: 20%;
  }

  /* Resume Page */
  #resume-experience-information {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 1.125em; /* 18 / 16 = 1.125 */
    gap: 1.125em; /* 18 / 16 = 1.125 */
  }
  #resume-experience-information h2 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #resume-experience-aldi {
    grid-column: 1;
    grid-row: 2;
  }
  #resume-experience-dkm {
    grid-column: 2;
    grid-row: 2;
  }
  #resume-experience-dh {
    grid-column: 1;
    grid-row: 3;
  }
  #resume-experience-district {
    grid-column: 2;
    grid-row: 3;
  }

  #resume-education-information {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 1.125em; /* 18 / 16 = 1.125 */
    gap: 1.125em; /* 18 / 16 = 1.125 */
  }

  #resume-education-information h2 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #resume-education-iit {
    grid-column: 1;
    grid-row: 2;
  }

  #resume-education-mvcc {
    grid-column: 2;
    grid-row: 2;
  }

  #resume-skill-information {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 1.125em; /* 18 / 16 = 1.125 */
    gap: 1.125em; /* 18 / 16 = 1.125 */
  }

  #resume-skill-information h2 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #resume-skill-technical {
    grid-row: 2;
    grid-column: 1;
  }

  #resume-skill-lang {
    grid-row: 2;
    grid-column: 2;
  }

  #resume-skill-cert {
    grid-row: 2;
    grid-column: 3;
  }

  /* CBP Page */
  .cbp-parent ol {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.633em; /* 10.13 / 16 = 0.633 */
    gap: 0.633em; /* 10.13 / 16 = 0.633 */
  }

}
